@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jost";
  src: url("./assets/fonts/jost/Jost-Italic-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("./assets/fonts/jost/Jost-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf") format("truetype");
  font-display: swap;
}

@layer base {
  html {
    @apply below-768:text-[12px] scroll-smooth;
  }
  body {
    @apply bg-white100 text-teal600 scroll-smooth;
  }

  a {
    @apply hover:underline decoration-[1.5px];
  }

  .home-container {
    @apply mx-auto w-full max-w-[1536px] px-12 mobile:px-4;
  }

  .dropdown-item {
    @apply px-6;
  }

  .skeleton-loader {
    @apply absolute top-0 right-0 rounded-full bg-white200/80 animate-pulse z-10 inset-0;
  }

  .items-grid {
    @apply grid gap-x-[2%] gap-y-[2rem] tablet:gap-y-[1rem] desktop:!grid-cols-[repeat(4,minmax(275px,1fr))] above-999:grid-cols-[repeat(3,minmax(275px,1fr))] below-998:grid-cols-[repeat(2,minmax(155px,1fr))];
  }
}
